body {background-color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:navy;
}

h1 {
    color:hotpink;
    font-size:4.5rem;
    margin:1rem;
    padding:3rem;
    width:80%;
    text-align:center;
    border-color:navy;
    border-radius:5px;
    border-style:double;
    border-width:1rem;
    
}

p {font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:navy;
    font-size:medium;
    width:80%;
    text-align:center;
    font-size:2.5rem;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}


li {font-size:2.5rem;
    width:80%;
    text-align:center;
    padding:1rem;
}

/* unvisited link */
a:link {
    color: purple;
  }
  
  /* visited link */
  a:visited {
    color: skyblue;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }